*{
    padding: 0;
    margin: 0;
    font-family: "Arimo", sans-serif;
    box-sizing: border-box;
}

/* nav section */
.button{
    background-color: rgb(0, 0, 255);
    padding: 9px 25px;
    font-weight: bolder;
    font-size: medium;
    color: rgb(237, 231, 231);
    cursor: pointer;
    border: none;
    border-radius: 9px;
}

.box{
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.logo{
    width: 120px;
    height: auto;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: rgb(90, 85, 85);
    font-size: medium;
}

/* hero section */

.hero-parent{
    position: relative;
    width: 100%; 
}

.hero-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-text h1{
    font-weight:bolder;
    font-size: 50px;
    margin-bottom: 25px;
}

.hero-text p{
    padding: 15px;
    font-size: 13px;
    margin: 30px 0 90px;
}

.banner img{
    width: 100%;
    height: auto;
    display: block;
}
.second-button{
    padding: 15px 30px;
}
/* meet the speakers section */
.meet-the-speakers{
    margin: 85px auto;
    text-align: center;
}

.meet-the-speakers h1{
    margin-bottom: 50px;
    font-weight: bolder;
}

.speaker-boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.speaker-content{
    padding: 15px;
    text-align: left;
    border: solid rgb(229, 227, 227) 1px;
    border-radius: 10px;
}

.speaker-content img{
    width: 100%;
    border-radius: 10px;
}

.speaker-content p{
    margin: 10px 0;
    color: rgb(86, 86, 86);
    font-weight: lighter;
    font-size: smaller;
}

.speaker-content h4{
    margin-bottom: 10px;
    font-weight: bold;
}

/* price section */
.pricing-spot-section{
    margin: 60px auto;
    text-align: center;
}
.price-box{
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.price-card{
    border: solid rgb(202, 200, 200) 1px;
    padding: 28px;
    border-radius: 10px;
    text-align: left;
}

.price-card h2{
    margin: 10px 0;
    font-size: 60px;
}

.price-card p{
    font-size: 15px;
    color:  rgb(148, 148, 148);
}

.price-card ul{
    margin: 25px 0; 
    padding-left: 20px;
}

.price-card li{
    margin-bottom:10px;
}


.pro-card{
    color: rgb(255, 255, 255);
    background-color: rgba(10, 3, 113, 0.968);
}

hr{
    margin-top: 20px;
    border-radius: none;
    border-top: 1px solid  rgb(148, 148, 148);
}
.blue-button{
    background-color: white;
    padding: 9px 65px;
    font-weight: bolder;
    font-size: medium;
    color: rgb(0, 68, 255);
    cursor: pointer;
    border: solid  rgb(0, 68, 255) 1px;
    border-radius: 9px;
}
.white-button{
    background-color: white;
    padding: 9px 65px;
    font-weight: bolder;
    font-size: medium;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: solid  rgb(148, 148, 148) 1px;
    border-radius: 9px;
}
.price-card button{
    padding: 9px 65px;
}

/* footer section */
footer{
    display: flex;
    text-align: center;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgb(224, 209, 209);
    background-color: rgb(14, 26, 61);
    font-size: small;
}
.left-footer{
    display: flex;
    gap: 20px;

}
.left-footer p{
    text-decoration: none;
    color: rgb(224, 209, 209);
}

.right-footer{
    display: flex;
    gap: 10px;
    font-size: 22px;
}

footer img{
    height: auto;
    width: 85px;
}